{% extends "placement/header.html" %}

{% block content %}
<style>
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1000px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
</style>
<p>&nbsp;</p>
<h2>Our Amazing Campus</h2>

<div class="row">
  <div class="column">
    <img src="/static/placement/image(0).jpeg" style="width:100%">
    <img src="/static/placement/image(40).jpg" style="width:100%">
  </div>
  <div class="column">
    <img src="/static/placement/image(42).jpg" style="width:100%">
    <img src="/static/placement/image(41).jpg" style="width:100%">
  </div>
</div>

{% endblock %}