{% extends "placement/header.html" %}

{% block content %}
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 2px solid #FFFFFF;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<script>
function myFunction(str1) {
  var str2 = "Applied";
  var n = str1.localeCompare(str2);
    return n;
}
</script>
<p>&nbsp;</p>
<h2>Your Applications</h2>
<article class="media content-section">
    <div class="container info-boxes pt100 pb100">
        <table>
        <tr>
            <th style="color: #fff; background: #228B22;">Companies</th>
            <th style="color: #fff; background: #228B22;">Status</th>
        </tr>
    {% for app in apps.applied_to.all %}
            <tr>
                <th>{{app}}</th>
                    <th style="color: #008000;">Applied</th>
            </tr>

    {% endfor %}
    </div>
</article>
{% endblock %}